<style>
.a{
	border-bottom:2px solid #F9E4E9
}
</style>
<h1>产品列表</h1>
<%= form_tag admin_products_path, :method => :get do |f| %>
<%= text_field_tag :tag, params[:tag]%>
<%= check_box_tag :recommended, true, params[:recommended]%>推荐
<%=submit_tag "搜索"%>
<%end%>
<table>
  <tr>
	<th class="a">产品图片</th>
    <th class="a">产品名称</th>
    <th class="a">参考价格</th>
    <th class="a">产品规格</th>
	<th class="a">上市时间</th>
	<th class="a">产品分类</th>
	<th class="a">产品功效</th>
	<th class="a">相关标签</th>
	<th class="a">介绍</th>
	<th class="a">操作</th>
  </tr>

<% @products.each do |product| %>
  <tr>
	<td><%= image_tag(product.picture)%></td>
	<td><%= product.name%></td>
	<td><%= product.price%></td>
	<td><%= product.stand%></td>
	<td><%= product.released_date%></td>
	<td><%= product.product_category.name%></td>
	<td><%= product.effect%></td>
	<td width="100px"><%= product.tags%></td>
	<td width="300px"><%= product.intro%></td>
    <td width="100px"><%= link_to '显示', admin_product_path(product) %> ｜
    <%= link_to '编辑', edit_admin_product_path(product) %> ｜
    <%= link_to '删除', admin_product_path(product), :confirm => 'Are you sure?', :method => :delete %>
	<span id="recommend_<%=product.id%>">
	<%if product.recommend%>
		<!--<a href="<%=cancel_recommend_admin_product_path(product, :tag => params[:tag], :page => params[:page])%>" class='red'>取消推荐</a>-->
		<%= link_to '取消推荐', cancel_recommend_admin_product_path(product), :remote => true, :class => 'red'%>
	<%else%>
		<%#= link_to '推荐', set_recommend_admin_product_path(product, :tag => params[:tag], :page => params[:page])%>
		<%= link_to '推荐', set_recommend_admin_product_path(product), :remote => true%>
	<%end%>
	</span>
	</td>
  </tr>
<% end %>
</table>

<span class="clearfix"></span>
<%#= link_to 'New Product', new_admin_product_path %>
<%=will_paginate @products%>